@page
@model Assingment_2_MIST_353_001.Pages.ContactUsModel
@{
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GeoSnow Inc.</title>
    <link rel="stylesheet" href="./css/site.css">



    <!--
        - Background image
      -->
    <style>
        body {
            background-image: url(https://wallpaperaccess.com/full/133707.jpg);
        }
    </style>

    <!--
      - google font link
    -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto:wght@400;500;700&family=Montserrat+Alternates:wght@700&display=swap" rel="stylesheet">


    <style>
        /* Style for top headers using <p> */
        p {
            /* WVU Gold  */
            color: rgb(234, 170, 0);
            font-family: 'Abril Fatface', cursive;
        }

        /* Style for bottom headers using <h2> */
        h2 {
            /* WVU Gold  */
            color: rgb(234, 170, 0);
            font-family: 'Heebo', sans-serif;
        }

        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            background-color: var(--WVU-gold);
            width: 100%;
            position: relative;
            
        }

        #tableHero {
            margin-top: 70px;
        }


        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

    </style>
</head>
<body>
    <!--
      - #HEADER
    -->

    <header class="header" data-header>
        <div class="container">

            <a class="navbar-brand" href="#">
                <img src="Logo.png" alt="GeoSnow Logo" style="width:70px;" class="square">
            </a>

            <a href="/#">
                <h1 class="logo" style="color: rgb(234, 170, 0)">GeoSnow </h1>
            </a>

            <button class="nav-toggle-btn" data-nav-toggle-btn aria-label="Toggle Menu">
                <ion-icon name="menu-outline" class="open"></ion-icon>
                <ion-icon name="close-outline" class="close"></ion-icon>
            </button>

            <nav class="navbar">
                <ul class="navbar-list">
                    <li>
                        <a href="/#" class="navbar-link">Home</a>
                    </li>
                    <li>
                        <a href="/#about" class="navbar-link">About Us</a>
                    </li>
                    <li>
                        <a asp-page="\ContactUs" class="navbar-link">Contact Us</a>
                    </li>
                </ul>
                <a href="/#locationForm" class="btn btn-secondary">Booking Now</a>
            </nav>

        </div>
    </header>
    <!--
        #TABLE w3schools
    -->

    <div class="container mt-3" style="font-size: 18px;">
        <div class="container" id="tableHero">
            <h2 style="color: rgb(234, 170, 0)">Contact Us!</h2>
            <p>This is our current employee list</p>
        </div>

        <table>
            <thead>
                <tr>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Collin</td>
                    <td>Jenkins</td>
                    <td>cpj00003@mix.wvu.edu</td>
                </tr>
                <tr>
                    <td>Jillian</td>
                    <td>Fluharty</td>
                    <td>jgf00004@mix.wvu.edu</td>
                </tr>
                <tr>
                    <td>Anthony</td>
                    <td>Marchitto</td>
                    <td>am00113@mix.wvu.edu</td>
                </tr>
            </tbody>
        </table>
    </div>
    <!--
      - #FOOTER
    -->

    <footer class="footer">
        <div class="container">

            <div class="footer-top">

                <ul class="footer-list">

                    <li>
                        <p class="footer-list-title">Resorts by <ion-icon name="location-outline"></ion-icon> </p>
                    </li>

                    <li>
                        <a href="#" class="footer-link">Big White, Canada</a>
                    </li>

                    <li>
                        <a href="#" class="footer-link">Chamonix, France</a>
                    </li>

                    <li>
                        <a href="#" class="footer-link">Mammoth Mountain, California, USA</a>
                    </li>

                    <li>
                        <a href="#" class="footer-link">Niseko, Hokkaido, Japan</a>
                    </li>

                    <li>
                        <a href="#" class="footer-link">Jackson Hole, Wyoming</a>
                    </li>

                </ul>

                <ul class="footer-list">

                    <li>
                        <p class="footer-list-title">Top forums</p>
                    </li>

                    <li>
                        <a href="#" class="footer-link">ResortID=16</a>
                    </li>

                    <li>
                        <a href="#" class="footer-link">ResortID=17</a>
                    </li>

                    <li>
                        <a href="#" class="footer-link">ResortID=21</a>
                    </li>

                    <li>
                        <a href="#" class="footer-link">ResortID=15</a>
                    </li>

                    <li>
                        <a href="#" class="footer-link">ResortID=25</a>
                    </li>

                </ul>

                <ul class="footer-list">

                    <li>
                        <p class="footer-list-title">Quick links</p>
                    </li>

                    <li>
                        <a href="/#locationForm" class="footer-link">Book Now</a>
                    </li>


                    <li>
                        <a href="/#about" class="footer-link">About</a>
                    </li>

                    <li>
                        <a asp-page="\ContactUs" class="footer-link">Contact Us</a>
                    </li>


                    <li>
                        <a href="/Privacy" class="footer-link">Terms & Conditions</a>
                    </li>


                </ul>

                <div class="footer-list">

                    <p class="footer-list-title">Get a newsletter</p>

                    <p class="newsletter-text" style="color: hsl(0, 0%, 80%);">
                        For the latest deals and tips, travel no further than your inbox
                    </p>

                    <form action="" class="newsletter-form">
                        <input type="email" name="email" required placeholder="Email address" class="newsletter-input">

                        <button type="submit" class="btn btn-primary" style="background-color: rgb(234, 170, 0);">Subscribe</button>



                    </form>

                </div>

            </div>

            <div class="footer-bottom">

                <a href="#" class="logo" style="color: rgb(234, 170, 0);">GeoSnow Inc.</a>


                <p class="copyright">
                    &copy; 2024 <a href="https://app.joinhandshake.com/stu/users/32284915" target="_blank" class="copyright-link">Collin Jenkins</a>. All Rights Reserved
                </p>

                <ul class="social-list">

                    <li>
                        <a href="https://www.facebook.com/profile.php?id=61556657134525" target="_blank" class="social-link">
                            <ion-icon name="logo-facebook"></ion-icon>
                        </a>
                    </li>

                    <li>
                        <a href="https://twitter.com/ColllinJenkins" target="_blank" class="social-link">
                            <ion-icon name="logo-twitter"></ion-icon>
                        </a>
                    </li>

                    <li>
                        <a href="https://www.instagram.com/geosnowinc/" target="_blank" class="social-link">
                            <ion-icon name="logo-instagram"></ion-icon>
                        </a>
                    </li>


                </ul>

            </div>

        </div>
    </footer>
    <!--
      - ion-icon link
    -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

    <!--
        -Custom JS link
    -->
    <script src="./js/site.js"></script>


</body>
</html>