@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GeoSnow - Calculations Limit</title>
   

    <!--
      - Custom css link
    -->
  <link rel="stylesheet" href="./css/site.css">
  
  

  <!-- 
    - google font link
  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto:wght@400;500;700&family=Montserrat+Alternates:wght@700&display=swap" rel="stylesheet">


    <style>
  /* Style for top headers using <p> */
  p {
      /* WVU Gold  */
      color: rgb(234, 170, 0);
      font-family: 'Abril Fatface', cursive; 
  }

  /* Style for bottom headers using <h2> */
  h2 {
      /* WVU Blue  */
      color: rgb(0, 40, 85);
      font-family: 'Heebo', sans-serif; 
  }
    </style>



</head>

<body id="top">

  <!-- 
    - #HEADER
  -->

  <header class="header" data-header>
    <div class="container">

      <a href="#">
                <h1 class="logo" style="color: rgb(234, 170, 0)">GeoSnow </h1>
      </a>

      <button class="nav-toggle-btn" data-nav-toggle-btn aria-label="Toggle Menu">
        <ion-icon name="menu-outline" class="open"></ion-icon>
        <ion-icon name="close-outline" class="close"></ion-icon>
      </button>

      <nav class="navbar">

        <ul class="navbar-list">

          <li>
            <a href="#" class="navbar-link">Home</a>
          </li>

          <li>
            <a href="#about" class="navbar-link">About Us</a>
          </li>

            <li>
              <a href="ContactUs.html" class="navbar-link">Contact Us</a>
            </li>


        </ul>

        <a href="#" class="btn btn-secondary">Booking Now</a>

      </nav>

    </div>
  </header>





  <main>
    <article/>

      <!-- 
        - #HERO
      -->

      <section class="section hero">
        
        <div class="container">


          <div class="hero-content">

            <p class="section-subtitle">Explore Your Trips</p>

            <h2 class="hero-title">Trusted Snow Sport Enthusiasts</h2>

            <p class="hero-text">
                            Conquer the Peaks, Embrace the Adventure! Your Ultimate Snowboarding and Skiing Journey Begins Here!
            </p>

            <div class="btn-group">
              <a href="#" class="btn btn-primary">Contact Us</a>

              <a href="#" class="btn btn-outline">Learn More</a>
            </div>

          </div>

        </div>
      </section>
      
 </main>     
 <!--
     - #SEARCHBAR
 -->
    <form id="locationForm" action="/searchResults">

        <i class="fa-solid fa-location-arrow"></i>

        <input type="text" id="locInp" name="location" class="form-control" value="Where are you going?" style="font-size: 18px;" />

       
        <label for="startDateInp">Start Date</label>

       <input type="date" id="startDateInp" name="checkIn" />
       
       <label for="endDateInp" class="form-label">End Date</label>
      
       <input type="date" id="endDateInp" name="checkOut" />
        
       <label for="trvDrop">Travelers?</label>
       
       <select name="trvDrop">
            
           <option value="1">1 traveler</option>
            
           <option value="2">2 travelers</option>
            
           <option value="3">3 travelers</option>
      
       </select>
        
       <input type="number" id="latTxt" step="any" name="latitude" />
        
       <input type="number" id="longTxt" step="any" name="longitude" />
       
       <input type="submit" id="submitBtn" value="Search" class="btn btn-primary" />
    
   </form>
    
   <button id="locBtn" onclick="getLocation()"><i class="fa fa-location-arrow"></i></button>

    <div id="results">
    </div>


    <script type="module">
        addLocationFormListen()
    </script>



    <!-- 
        - #ABOUT
      -->

      <section class="section about">
        <div class="container">

          <div class="about-content" id="about">

            <p class="section-subtitle">About Us</p>

            <h2 class="h2 section-title">Explore the world with us!.</h2>

            <p class="about-text">
             This is a rudementary prototype of my traveling site for winter sports
            </p>

            <ul class="about-list">

              <li class="about-item">

                <div class="about-item-icon">
                  <ion-icon name="compass"></ion-icon>
                </div>

                <div class="about-item-content">
                  <h3 class="h3 about-item-title">Resorts near me</h3>

                  <p class="about-item-text">
                    Customers can explore resorts near their current location!
                  </p>
                </div>

              </li>

              <li class="about-item">

                <div class="about-item-icon">
                  <ion-icon name="briefcase"></ion-icon>
                </div>

                <div class="about-item-content">
                  <h3 class="h3 about-item-title">On sale</h3>

                  <p class="about-item-text">
                    As well as resorts on sale!
                  </p>
                </div>

              </li>

              <li class="about-item">

                <div class="about-item-icon">
                  <ion-icon name="umbrella"></ion-icon>
                </div>

                <div class="about-item-content">
                  <h3 class="h3 about-item-title">Weather guide</h3>

                  <p class="about-item-text">
                    A weather guide to guarentee great times!
                  </p>
                </div>

              </li>

            </ul>

            <a href="#" class="btn btn-primary">Booking Now</a>

          </div>


        </div>
      </section>





 





  <!-- 
    - #FOOTER
  -->

  <footer class="footer">
    <div class="container">

      <div class="footer-top">

        <ul class="footer-list">

          <li>
            <p class="footer-list-title">Top destinations</p>
          </li>

          <li>
                        <a href="#" class="footer-link">Big White, Canada</a>
          </li>

          <li>
                        <a href="#" class="footer-link">Chamonix, France</a>
          </li>

          <li>
                        <a href="#" class="footer-link">Mammoth Mountain, California, USA</a>
          </li>

          <li>
                        <a href="#" class="footer-link">Niseko, Hokkaido, Japan</a>
          </li>

          <li>
            <a href="#" class="footer-link">Jackson Hole, Wyoming</a>
          </li>

        </ul>

        <ul class="footer-list">

          <li>
            <p class="footer-list-title">Categories</p>
          </li>

          <li>
            <a href="#" class="footer-link">Snowboarding</a>
          </li>

          <li>
            <a href="#" class="footer-link">Skiing</a>
          </li>

          <li>
            <a href="#" class="footer-link">Tubing</a>
          </li>

          <li>
            <a href="#" class="footer-link">Cross Country Ski</a>
          </li>

          <li>
            <a href="#" class="footer-link">Resorts</a>
          </li>

        </ul>

        <ul class="footer-list">

          <li>
            <p class="footer-list-title">Quick links</p>
          </li>

          <li>
            <a href="#" class="footer-link">About</a>
          </li>

          <li>
            <a href="#" class="footer-link">Contact</a>
          </li>


          <li>
            <a href="#" class="footer-link">Terms & Conditions</a>
          </li>

        </ul>

        <div class="footer-list">

          <p class="footer-list-title">Get a newsletter</p>

                    <p class="newsletter-text" style="color: hsl(0, 0%, 80%);">
            For the latest deals and tips, travel no further than your inbox
          </p>

          <form action="" class="newsletter-form">
            <input type="email" name="email" required placeholder="Email address" class="newsletter-input">

                        <button type="submit" class="btn btn-primary" style="background-color: rgb(234, 170, 0);">Subscribe</button>



          </form>

        </div>

      </div>

      <div class="footer-bottom">

                <a href="#" class="logo" style="color: rgb(234, 170, 0);">GeoSnow Inc.</a>


        <p class="copyright">
          &copy; 2024 <a href="#" class="copyright-link">Collin Jenkins</a>. All Rights Reserved
        </p>

        <ul class="social-list">

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-facebook"></ion-icon>
            </a>
          </li>

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-twitter"></ion-icon>
            </a>
          </li>

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-instagram"></ion-icon>
            </a>
          </li>

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-linkedin"></ion-icon>
            </a>
          </li>

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-google"></ion-icon>
            </a>
          </li>

        </ul>

      </div>

    </div>
  </footer>

  <!--
      -Custom JS link
  -->
  <script src="./js/site.js"></script>


 

  <!-- 
    - ionicon link
  -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>