
@page
@model PrivacyModel
@{
    ViewData["Title"] = "GeoSnow";
}

<style>  
        /* Style for top headers using <p> */
        .WVU-gold{
            /* WVU Gold  */
            color: rgb(234, 170, 0);
            font-family: 'Abril Fatface', cursive;
        }

       
</style>
<body>

   <!-- 
    - #HEADER
  -->

  <header class="header" data-header>
    <div class="container">
  
      <a class="navbar-brand" href="#">
        <img src="Logo.png" alt="GeoSnow Logo" style="width:70px;" class="rounded-pill">
      </a>
  
      <a href="/#">
        <h1 class="logo" style="color: rgb(234, 170, 0)">GeoSnow </h1>
      </a>
  
      <button class="nav-toggle-btn" data-nav-toggle-btn aria-label="Toggle Menu">
        <ion-icon name="menu-outline" class="open"></ion-icon>
        <ion-icon name="close-outline" class="close"></ion-icon>
      </button>
  
      <nav class="navbar">
        <ul class="navbar-list">
          <li>
            <a href="/#" class="navbar-link">Home</a>
          </li>
          <li>
            <a href="/#about" class="navbar-link">About Us</a>
          </li>
          <li>
            <a href="/ContactUs.html" class="navbar-link">Contact Us</a>
          </li>
        </ul>
        <a href="/#locationForm" class="btn btn-secondary">Booking Now</a>
      </nav>
  
    </div>
  </header>


  <div class="container" id="WVU-gold">
    <p><strong>Last Updated:</strong> 2/23/2024</p>
    <p>Welcome to GeoSnow Inc. ("we", "us", "our"). We are committed to protecting your privacy and ensuring that your personal information is collected and used properly, transparently, and securely. This Privacy Policy explains how we use, share, and protect the information we collect when you use our website and services.</p>
    
    <h2>Information We Collect</h2>
    <p>We collect information to provide better services to our users. We collect information in the following ways:</p>
    <ul>
        <li>Information you provide us: We collect information you provide when you create an account, book a resort, subscribe to our newsletter, or communicate with us.</li>
        <li>Information we collect automatically: We collect information about your interactions with our website, including your IP address, device information, and browsing history.</li>
    </ul>

    <h2>How We Use Information</h2>
    <p>We use the information we collect to:</p>
    <ul>
        <li>Provide, maintain, and improve our services.</li>
        <li>Communicate with you about your bookings, our services, and promotional offers.</li>
        <li>Enhance the security and safety of our website.</li>
        <li>Analyze and monitor user activity to improve our offerings.</li>
    </ul>

    <h2>Sharing of Information</h2>
    <p>We do not share personal information with third parties except in the following cases:</p>
    <ul>
        <li>With your consent.</li>
        <li>For legal reasons, such as to comply with a legal obligation or to protect our rights.</li>
        <li>With service providers who perform services on our behalf, under strict confidentiality agreements.</li>
    </ul>

    <h2>Your Choices and Rights</h2>
    <p>You have the right to access, update, and delete your personal information. You can also opt out of receiving promotional emails from us by following the unsubscribe link in the email.</p>

    <h2>Changes to This Policy</h2>
    <p>We may update this Privacy Policy from time to time. We will notify you of any changes by posting the new policy on our website and updating the "Last Updated" date.</p>

    <h2>Contact Us</h2>
    <p>If you have any questions about this Privacy Policy, please contact us at<a href="ContactUs.html" class="link">this link.</a></p>
    </div>
     <!-- 
    - #FOOTER
  -->

  <footer class="footer">
    <div class="container">

      <div class="footer-top">

        <ul class="footer-list">

          <li>
            <p class="footer-list-title">Resorts by <ion-icon name="location-outline"></ion-icon> </p>
          </li>

          <li>
                        <a href="#" class="footer-link">Big White, Canada</a>
          </li>

          <li>
                        <a href="#" class="footer-link">Chamonix, France</a>
          </li>

          <li>
                        <a href="#" class="footer-link">Mammoth Mountain, California, USA</a>
          </li>

          <li>
                        <a href="#" class="footer-link">Niseko, Hokkaido, Japan</a>
          </li>

          <li>
            <a href="#" class="footer-link">Jackson Hole, Wyoming</a>
          </li>

        </ul>

        <ul class="footer-list">

          <li>
            <p class="footer-list-title">Top forums</p>
          </li>

          <li>
            <a href="#" class="footer-link">ResortID=16</a>
          </li>

          <li>
            <a href="#" class="footer-link">ResortID=17</a>
          </li>

          <li>
            <a href="#" class="footer-link">ResortID=21</a>
          </li>

          <li>
            <a href="#" class="footer-link">ResortID=15</a>
          </li>

          <li>
            <a href="#" class="footer-link">ResortID=25</a>
          </li>

        </ul>

        <ul class="footer-list">

          <li>
            <p class="footer-list-title">Quick links</p>
          </li>

            <li>
            <a href="/#locationForm" class="footer-link">Book Now</a>
          </li>

          <li>
            <a href="/#about" class="footer-link">About</a>
          </li>

          <li>
            <a href="/ContactUs.html" class="footer-link">Contact</a>
          </li>


          <li>
            <a href="/Privacy" class="footer-link">Terms & Conditions</a>
          </li>

        
        </ul>

        <div class="footer-list">

          <p class="footer-list-title">Get a newsletter</p>

                    <p class="newsletter-text" style="color: hsl(0, 0%, 80%);">
            For the latest deals and tips, travel no further than your inbox
          </p>

          <form action="" class="newsletter-form">
            <input type="email" name="email" required placeholder="Email address" class="newsletter-input">

                        <button type="submit" class="btn btn-primary" style="background-color: rgb(234, 170, 0);">Subscribe</button>



          </form>

        </div>

      </div>

      <div class="footer-bottom">

                <a href="#" class="logo" style="color: rgb(234, 170, 0);">GeoSnow Inc.</a>


        <p class="copyright">
          &copy; 2024 <a href="https://app.joinhandshake.com/stu/users/32284915" target="_blank" class="copyright-link">Collin Jenkins</a>. All Rights Reserved
        </p>

        <ul class="social-list">

          <li>
            <a href="https://www.facebook.com/profile.php?id=61556657134525" target="_blank" class="social-link">
              <ion-icon name="logo-facebook"></ion-icon>
            </a>
          </li>

          <li>
            <a href="https://twitter.com/ColllinJenkins" target="_blank" class="social-link">
              <ion-icon name="logo-twitter"></ion-icon>
            </a>
          </li>

          <li>
            <a href="https://www.instagram.com/geosnowinc/"  target="_blank" class="social-link">
              <ion-icon name="logo-instagram"></ion-icon>
            </a>
          </li>

          
        </ul>

      </div>

    </div>
  </footer>
  <!--
      - ion-icon link
    -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

     <!--
      -Custom JS link
  -->
  <script src="./js/site.js"></script>


</body>
