@page
@model Assingment_2_MIST_353_001.Pages.ResortModel
@{
    var ResortID = HttpContext.Request.Query["ResortID"];
}

<h2 id="ResortName" style="visibility: hidden;"></h2>
<div id="ResortAddress" style="visibility: hidden;"></div>
<div id="ResortContact" style="visibility: hidden;"></div>

<script type="module">
    async function displayResortDetails(ResortID) {
        const response = await fetch(`https://localhost:7293/api/Resort/${ResortID}`);
        const data = await response.json();
        document.getElementById('ResortName').innerHTML = data.name;
        document.getElementById('ResortName').style.visibility = "visible";

        document.getElementById('ResortAddress').innerHTML = data.address + ", " + data.city + ", " + data.state + ", " + data.zipcode + ", " + data.country;
        document.getElementById('ResortAddress').style.visibility = 'visible';

        document.getElementById('ResortContact').innerHTML = data.phone + ", " + data.email;
        document.getElementById('ResortContact').style.visibility = 'visible';
    }

    displayResortDetails('@ResortID');
</script>
