@page
@model Assingment_2_MIST_353_001.Pages.Shared.SearchResultsModel
@{
    var lat = HttpContext.Request.Query["latitude"];
    var longitude = HttpContext.Request.Query["longitude"];
    var checkIn = HttpContext.Request.Query["startDate"];
    var checkOut = HttpContext.Request.Query["endDate"];
    var distance = HttpContext.Request.Query["radius"];
}

<h1>Search Results</h1>
<div id="ResortResults" style="visibility: hidden;"></div>

<script type="module">
    async function displaySearchResults(latitude, longitude, startDate, endDate, radius) {
        try {
            const response = await fetch(`https://localhost:7293/api/Resort/searchByRadiusDateRange?latitude=${latitude}&longitude=${longitude}&startDate=${startDate}&endDate=${endDate}&radius=${radius}`);
            if (!response.ok) {
                throw new Error(`HTTP error! status: ${response.status}`);
            }
            const data = await response.json();
            let innerHtml = "";
            for (let i = 0; i < data.length; i++) {
                innerHtml += `<div class="card"><a href="https://localhost:7113/Resort?ResortID=${data[i].ResortID}">${data[i].name}</a></div>`;
            }
            document.getElementById('ResortResults').innerHTML = innerHtml;
            document.getElementById('ResortResults').style.visibility = 'visible';
        } catch (e) {
            console.error('There was a problem fetching the resort data:', e);
        }
    }

    displaySearchResults('@lat', '@longitude', '@checkIn', '@checkOut', '@distance');
</script>
    